.animate-about {
    opacity: 0;
    transform: translateX(100px);
    animation: slide-in 3s ease-in-out forwards;
  }
  
  .animate-from-left {
    opacity: 0;
    transform: translateX(-100px);
    animation: slide-in-left 3s ease-in-out forwards;
  }
  
  .animate-from-right {
    opacity: 0;
    transform: translateX(100px);
    animation: slide-in-right 3s ease-in-out forwards;
  }
  
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  